<div class="d-flex justify-content-center align-items-center gap-4 mb-5">
    <%= link_to 'New restaurant', new_restaurant_path, class: "btn btn-secondary" %>
    <h1 class="text-center">Restaurants list:</h1>
</div>

<% @restaurants.each do |restaurant| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 container">
      <div class="panel panel-default">
        <div class="panel-heading mb-3">
          <h3 class="panel-title"><%= restaurant.name %></h3>
        </div>
        <div class="panel-body d-flex gap-4">
            <p><%= restaurant.address %></p>
            <p><%= restaurant.phone_number %></p>
            <p><%= restaurant.category %></p>
            <%= link_to 'Show', restaurant_path(restaurant), class: "btn btn-outline-dark" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
